<div> 
<br/>
<p style='font-size:19px; font-weight: bold;'>Welcome to Trend Billing!</p> 
<br/>
<p style='font-size:14px; text-align=left; padding-left: 15;'>From here, you can review your latest invoice and get it paid instantly. You can also view all your previous invoices and payments, and set up the system for automatic payment with your credit card.</p>
<p style='font-size:14px; text-align=left; padding-left: 15;'>What would you like to do today? </p> 
<ul style='font-size:13px; text-align=left; padding-left: 25;'> 
<li >To submit a credit card payment, follow the link on the left bar.</li> 
<li >To view a list of your invoices, click on the ‘Invoices’ menu option. The first invoice on the list is your latest invoice. Click on it to see its details.</li> 
<li>To view a list of your payments, click on the ‘Payments’ menu option. The first payment on the list is your latest payment. Click on it to see its details.</li> 
<li>To provide a credit card to enable automatic payment, click on the menu option 'Account', and then on 'Edit Credit Card'.</li>
</ul> 
</div>

