<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    
<html>
  <HEAD>
    <title>Sapienter Billing</title>
  </HEAD>
  <body>

   	<table border="1">

  	<!-- This is the top bar -->
  	<tr>

  	<!-- This is the coporate graphic -->
  	<td> Sapienter <br/> Billing </td>

	<!-- This is the menu and feature title bar -->  	
	<td>
		<table border="1" align="center">
			<!-- The main menu, to be rendered by a custom tag -->
			<tr><td>
				<table border="1" align="center">
					<tr>
						<td>Items</td>
						<td>Orders</td>
						<td>Help</td>
						<td>Logout</td>
					</tr>
				</table>
			</td></tr>
			<!-- The secondary menu to be rendered by a custom tag -->
			<tr><td>
				<table border="1" align="center">
					<tr>
						<td>Create</td>
						<td>List</td>
						<td>Reports</td>
					</tr>
				</table>
			</td></tr>
			<!-- The Feature Title -->
			<tr>
				<td align="center"> Feature Title </td>
			</tr>
		</table>
	</td>

  	</tr>

	<!-- The Main Body-->
	<tr>
		<td> Menu <br/>  Options</td>
		<td>
			<table border="1">
			<tr>
				<td>
					<table border="1">
						<tr><td>Please select the items for your order</td></tr>
						<tr><td> an Item</td></tr>
						<tr><td>Click here to review your order</td></tr>												
					</table>
				</td>
				<td>Right Bar of Body</td>				
			</tr>
			</table>
		</td>
	</tr>
	
	<!-- The Footer -->
	<tr>
		<td colspan="2">Copyright Sapienter Enterprise Software - 2003</td>
	</tr>


  	</table>
  </body>
</html>